<div class="card" data-pgc="jr.message">
  <div class="<%= message_classes(message) %>">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="row">
          <div class="align-items-center col-md-4 d-flex flex-column">
            <%= image_tag message.sender.avatar_url(:thumb), class: "rounded-circle", width: "100px", 'data-pgc-edit' => "image[src, no_content]", height: "100px" %>
            <p data-pgc-field="name"><%= message.sender.full_name %></p>
          </div>
          <div class="col-md-8">
            <p data-pgc-field="messagetext"><%= message.body %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
