<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @message.name %>
</p>

<%= link_to 'Edit', edit_conversation_message_path(@conversation, @message) %> |
<%= link_to 'Back', messages_path %>
