<div class="flex flex-wrap">
  <div class="w-full px-3 lg:px-0">
    <div class="bg-white shadow-md rounded overflow-hidden" data-pgc="jr.pagename">
      <div class="p-4">
        <h5 class="text-xl font-bold mb-0" data-pgc-field="title">Connections Between Repetitive Records</h5>
      </div>
    </div>

    <% @connections.each do |connection| %>
      <%= render "connections/connection", connection: connection %>
    <% end %>

    <%= paginate @connections %>
  </div>
</div>
