<div class="flex flex-wrap mt-3" id='peopleList'>
  <div class="w-full px-3 lg:px-0">
    <div class="bg-white shadow-md rounded overflow-hidden" data-pgc="jr.pagename">
      <div class="p-4">
        <h5 class="text-xl font-bold mb-0" data-pgc-field="title">People (<%= @people.total_count %>)</h5>
      </div>
    </div>
    <% @people.each do |person| %>
      <%= render "users/user", user: person %>
    <% end %>

    <%= paginate @people %>
  </div>
</div>
