<div class="row" id='friendsList'>
  <div class="col-lg-12 px-0 px-sm-3">
    <div class="card" data-pgc="jr.pagename">
      <div class="card-body">
        <h5 class="card-title mb-0" data-pgc-field="title">Friends (<%= @friends.total_count %>)</h5>
      </div>
    </div>
    <% @friends.each do |friend| %>
      <%= render "users/user", user: friend %>
    <% end %>

    <%= paginate @friends %>
  </div>
</div>
