<div class="card" data-pgc="jr.person">
  <div class="card-body">
    <div class="row">
      <div class="align-items-center col-sm-8 d-flex flex-column justify-content-center text-center">
        <%= image_tag user.avatar_url(:thumb), class: "rounded-circle", width: "100px", 'height' => "100px" %>
        <h5>
        <%= user.name %>
        </h5>
      </div>
      <div class="col-sm-4" data-pgc-field="buttons">
        <%= render "users/buttons", user: user %>
      </div>
    </div>
  </div>
</div>
