<div class="bg-white shadow-md rounded overflow-hidden" data-pgc="jr.person">
  <div class="p-4">
    <div class="flex flex-wrap">
      <div class="flex flex-col justify-center items-center text-center w-full sm:w-2/3">
        <% if user.avatar.attached? %>
          <%= image_tag user.avatar, class: 'rounded-full', width: '100', height: '100', alt: "user avatar", style: 'width: 100px; height: 100px;' %>
        <% else %>
          <%= image_tag 'no-photo-placeholder.png', class: 'rounded-full', alt: "default avatar", width: '100', height: '100', style: 'width: 100px; height: 100px;' %>
        <% end %>
        <h5>
          <%= link_to user.full_name, user, class: "text-lg font-semibold" %>
        </h5>
      </div>
      <div class="w-full sm:w-1/3" data-pgc-field="buttons">
        <%= render "users/buttons", user: user %>
      </div>
    </div>
  </div>
</div>
