<div class="modal pg-show-modal fade" id="permissionsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="permissionsModalLabel">Permissions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="text-dark">Who can see this record:</p>
                            </div>
                            <div class="col-lg-6">
                                <div class="dropdown">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button">Dropdown </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Only Me</a>
                                        <a class="dropdown-item" href="#">Only Friends</a>
                                        <a class="dropdown-item" href="#">Only Selected Friends...</a>
                                        <a class="dropdown-item" href="#">Only Selected Friend Groups...</a>
                                        <a class="dropdown-item" href="#">Selected People (enter link)</a>
                                        <a class="dropdown-item" href="#">Everyone Except...</a>
                                        <a class="dropdown-item" href="#">Everyone</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="text-dark">Who can add subrecords and connections:</p>
                            </div>
                            <div class="col-lg-6">
                                <div class="dropdown">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button">Dropdown </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Only Me</a>
                                        <a class="dropdown-item" href="#">Only Friends</a>
                                        <a class="dropdown-item" href="#">Only Selected Friends...</a>
                                        <a class="dropdown-item" href="#">Only Selected Friend Groups...</a>
                                        <a class="dropdown-item" href="#">Selected People (enter link)</a>
                                        <a class="dropdown-item" href="#">Everyone Except...</a>
                                        <a class="dropdown-item" href="#">Everyone</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="text-dark">Who can add subrecords and connections with my review:</p>
                            </div>
                            <div class="col-lg-6">
                                <div class="dropdown">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button">Dropdown </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Only Me</a>
                                        <a class="dropdown-item" href="#">Only Friends</a>
                                        <a class="dropdown-item" href="#">Only Selected Friends...</a>
                                        <a class="dropdown-item" href="#">Only Selected Friend Groups...</a>
                                        <a class="dropdown-item" href="#">Selected People (enter link)</a>
                                        <a class="dropdown-item" href="#">Everyone Except...</a>
                                        <a class="dropdown-item" href="#">Everyone</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="text-dark">Who can comment on this record:</p>
                            </div>
                            <div class="col-lg-6">
                                <div class="dropdown">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button">Dropdown </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Only Me</a>
                                        <a class="dropdown-item" href="#">Only Friends</a>
                                        <a class="dropdown-item" href="#">Only Selected Friends...</a>
                                        <a class="dropdown-item" href="#">Only Selected Friend Groups...</a>
                                        <a class="dropdown-item" href="#">Selected People (enter link)</a>
                                        <a class="dropdown-item" href="#">Everyone Except...</a>
                                        <a class="dropdown-item" href="#">Everyone</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="text-dark">Who can delete:</p>
                            </div>
                            <div class="col-lg-6">
                                <div class="dropdown">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button">Dropdown </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Only Me</a>
                                        <a class="dropdown-item" href="#">Only Friends</a>
                                        <a class="dropdown-item" href="#">Only Selected Friends...</a>
                                        <a class="dropdown-item" href="#">Only Selected Friend Groups...</a>
                                        <a class="dropdown-item" href="#">Selected People (enter link)</a>
                                        <a class="dropdown-item" href="#">Everyone Except...</a>
                                        <a class="dropdown-item" href="#">Everyone</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>             
