<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="utf-8"/> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/> 
        <meta name="description" content=""/> 
        <meta name="author" content=""/> 
        <title>Dashtreme Admin - Free Dashboard for Bootstrap 4 by Codervent</title>         
        <!-- loader-->         
        <link href="assets/css/pace.min.css" rel="stylesheet"/> 
        <script src="assets/js/pace.min.js"></script>         
        <!--favicon-->         
        <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon"> 
        <!-- simplebar CSS-->         
        <link href="assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/> 
        <!-- Bootstrap core CSS-->         
        <link href="assets/css/bootstrap.min.css" rel="stylesheet"/> 
        <!-- animate CSS-->         
        <link href="assets/css/animate.css" rel="stylesheet" type="text/css"/> 
        <!-- Icons CSS-->         
        <link href="assets/css/icons.css" rel="stylesheet" type="text/css"/> 
        <!-- Sidebar CSS-->         
        <link href="assets/css/sidebar-menu.css" rel="stylesheet"/> 
        <!-- Custom Style-->         
        <link href="assets/css/app-style.css" rel="stylesheet"/> 
        <link rel="stylesheet" href="../../blocks.css">
    </head>     
    <body class="bg-theme bg-theme1"> 
        <!-- start loader -->         
        <div id="pageloader-overlay" class="visible incoming">
            <div class="loader-wrapper-outer">
                <div class="loader-wrapper-inner">
                    <div class="loader"></div>
                </div>
            </div>
        </div>         
        <!-- end loader -->         
        <!-- Start wrapper-->         
        <div id="wrapper"> 
            <!--Start sidebar-wrapper-->             
            <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true" data-pgc="jr.sidemenu"> 
                <div class="brand-logo"> 
                    <a href="index.html"> <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon"> <h5 class="logo-text">Dedu</h5> </a> 
                </div>                 
                <ul class="sidebar-menu do-nicescrol"> 
                    <li class="sidebar-header">MAIN NAVIGATION</li>                     
                    <li> 
                        <a href="records_index.html"> <i class="zmdi zmdi-format-list-bulleted"></i> <span>Repetitive Records / Projects</span> </a> 
                    </li>
                    <li> 
                        <a href="records_create.html"> <i class="zmdi zmdi-plus-square"></i> <span>Add a new record</span> </a> 
                    </li>
                    <li> 
                        <a href="record_types_index.html"> <i class="zmdi zmdi-format-list-bulleted"></i> <span>Types of Repetitive Records</span> </a> 
                    </li>
                    <li> 
                        <a href="record_types_create.html"> <i class="zmdi zmdi-plus-square"></i> <span>Add a new type</span> </a> 
                    </li>
                    <li> 
                        <a href="calendar.html"> <i class="zmdi zmdi-calendar-alt"></i> <span>Import Events from Google Calendar as  Repetitive Records</span> </a> 
                    </li>
                    <li> 
                        <a href="connection_types_index.html"> <i class="zmdi zmdi-format-list-bulleted"></i> <span>Types of Connections Between Repetitive Records</span> </a> 
                    </li>
                    <li> 
                        <a href="connection_types_create.html"> <i class="zmdi zmdi-plus-square"></i> <span>Add a new connection type</span> </a> 
                    </li>
                    <li> 
                        <a href="connections_index.html"> <i class="zmdi zmdi-format-list-bulleted"></i> <span>Connections Between Repetitive Records</span> </a> 
                    </li>
                    <li> 
                        <a href="connections_create.html"> <i class="zmdi zmdi-plus-square"></i> <span>Add a new connection</span> </a> 
                    </li>
                    <li> 
                        <a href="friends_index.html"> <i class="zmdi zmdi-accounts-alt"></i> <span>My Friends</span> </a> 
                    </li>
                    <li> 
                        <a href="blacklist_index.html"> <i class="zmdi zmdi-accounts-outline"></i> <span>Black List</span> </a> 
                    </li>
                    <li> 
                        <a href="message_chains_index.html"> <i class="zmdi zmdi-comment-list"></i> <span>My Messages</span> </a> 
                    </li>
                    <li> 
                        <a href="people_index.html"> <i class="zmdi zmdi-accounts-list"></i> <span>People</span> </a> 
                    </li>
                    <li> 
                        <a href="sensors_index.html"> <i class="zmdi zmdi-format-list-bulleted"></i> <span>Sensors / Camera Recognitions</span> </a> 
                    </li>
                    <li> 
                        <a href="sensors_create.html"> <i class="zmdi zmdi-plus-square"></i> <span>Add a New Sensor / Camera Recognition</span> </a> 
                    </li>
                    <li> 
                        <a href="notifications_index.html"> <i class="zmdi zmdi-comments"></i> <span>Notifications</span> </a> 
                    </li>
                    <li> 
                        <a href="store.html"> <i class="zmdi zmdi-store"></i> <span>Online Store</span> </a> 
                    </li>
                    <li> 
                        <a href="sell.html"> <i class="zmdi zmdi-shopping-cart"></i> <span>Sell</span> </a> 
                    </li>
                    <li> 
                        <a href="platforms.html"> <i class="zmdi zmdi-download"></i> <span>Platforms (Downloads)</span> </a> 
                    </li>
                    <li> 
                        <a href="settings.html"> <i class="zmdi zmdi-settings"></i> <span>Settings</span> </a> 
                    </li>
                    <li> 
                        <a href="seminars_index.html"> <i class="zmdi zmdi-calendar"></i> <span>Seminars &amp; Courses</span> </a> 
                    </li>
                    <li> 
                        <a href="events_index.html"> <i class="zmdi zmdi-calendar-note"></i> <span>Events</span> </a> 
                    </li>
                    <li> 
                        <a href="wallet.html"> <i class="zmdi zmdi-balance-wallet"></i> <span>Wallet</span> </a> 
                    </li>
                    <li> 
                        <a href="payment.html"> <i class="zmdi zmdi-view-dashboard"></i> <span>Payment Plan</span> </a> 
                    </li>                     
                    <li> 
                        <a href="icons.html"> <i class="zmdi zmdi-invert-colors"></i> <span>UI Icons</span> </a> 
                    </li>                     
                    <li> 
                        <a href="forms.html"> <i class="zmdi zmdi-format-list-bulleted"></i> <span>Forms</span> </a> 
                    </li>                     
                    <li> 
                        <a href="tables.html"> <i class="zmdi zmdi-grid"></i> <span>Tables</span> </a> 
                    </li>                     
                    <li> 
                        <a href="calendar.html"> <i class="zmdi zmdi-calendar-check"></i> <span>Calendar</span> <small class="badge float-right badge-light">New</small> </a> 
                    </li>                     
                    <li> 
                        <a href="profile.html"> <i class="zmdi zmdi-face"></i> <span>Profile</span> </a> 
                    </li>                     
                    <li> 
                        <a href="login.html" target="_blank"> <i class="zmdi zmdi-lock"></i> <span>Login</span> </a> 
                    </li>
                    <li> 
                        <a href="login.html" target="_blank"> <i class="zmdi zmdi-lock"></i> <span>Logout</span> </a> 
                    </li>
                    <li> 
                        <a href="login.html" target="_blank"> <i class="zmdi zmdi-lock"></i> <span>Register</span> </a> 
                    </li>
                    <li> 
</li>                     
                    <li> 
                        <a href="register.html" target="_blank"> <i class="zmdi zmdi-account-circle"></i> <span>Registration</span> </a> 
                    </li>                     
                    <li class="sidebar-header">LABELS</li>                     
                    <li>
                        <a href="javaScript:void();"><i class="zmdi zmdi-coffee text-danger"></i> <span>Important</span></a>
                    </li>                     
                    <li>
                        <a href="javaScript:void();"><i class="zmdi zmdi-chart-donut text-success"></i> <span>Warning</span></a>
                    </li>                     
                    <li>
                        <a href="javaScript:void();"><i class="zmdi zmdi-share text-info"></i> <span>Information</span></a>
                    </li>                     
                </ul>                 
            </div>
            <header class="topbar-nav" data-pgc="jr.topnavmenu"> 
                <nav class="navbar navbar-expand fixed-top"> 
                    <ul class="navbar-nav mr-auto align-items-center"> 
                        <li class="nav-item"> 
                            <a class="nav-link toggle-menu" href="javascript:void();"> <i class="icon-menu menu-icon"></i> </a> 
                        </li>                         
                        <li class="nav-item"> 
                            <form class="search-bar"> 
                                <input type="text" class="form-control" placeholder="Enter keywords"> 
                                <a href="javascript:void();"><i class="icon-magnifier"></i></a> 
                            </form>                             
                        </li>                         
                    </ul>                     
                    <ul class="navbar-nav align-items-center right-nav-link"> 
                        <li class="nav-item dropdown-lg"> 
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();"> <i class="fa fa-envelope-open-o"></i></a> 
                        </li>                         
                        <li class="nav-item dropdown-lg"> 
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();"> <i class="fa fa-bell-o"></i></a> 
                        </li>                         
                        <li class="nav-item language"> 
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();"><i class="fa fa-flag"></i></a> 
                            <ul class="dropdown-menu dropdown-menu-right"> 
                                <li class="dropdown-item"> 
                                    <i class="flag-icon flag-icon-gb mr-2"></i> English
                                </li>                                 
                                <li class="dropdown-item"> 
                                    <i class="flag-icon flag-icon-fr mr-2"></i> French
                                </li>                                 
                                <li class="dropdown-item"> 
                                    <i class="flag-icon flag-icon-cn mr-2"></i> Chinese
                                </li>                                 
                                <li class="dropdown-item"> 
                                    <i class="flag-icon flag-icon-de mr-2"></i> German
                                </li>                                 
                            </ul>                             
                        </li>                         
                        <li class="nav-item"> 
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#"> <span class="user-profile"><img src="https://via.placeholder.com/110x110" class="img-circle" alt="user avatar"></span> </a> 
                            <ul class="dropdown-menu dropdown-menu-right"> 
                                <li class="dropdown-item user-details"> 
                                    <a href="javaScript:void();"> <div class="media"> 
                                            <div class="avatar">
                                                <img class="align-self-start mr-3" src="https://via.placeholder.com/110x110" alt="user avatar">
                                            </div>                                             
                                            <div class="media-body"> 
                                                <h6 class="mt-2 user-title">Sarajhon Mccoy</h6> 
                                                <p class="user-subtitle">mccoy@example.com</p> 
                                            </div>                                             
                                        </div> </a> 
                                </li>                                 
                                <li class="dropdown-divider"></li>                                 
                                <li class="dropdown-item">
                                    <i class="icon-envelope mr-2"></i> Inbox
                                </li>                                 
                                <li class="dropdown-divider"></li>                                 
                                <li class="dropdown-item">
                                    <i class="icon-wallet mr-2"></i> Account
                                </li>                                 
                                <li class="dropdown-divider"></li>                                 
                                <li class="dropdown-item">
                                    <i class="icon-settings mr-2"></i> Setting
                                </li>                                 
                                <li class="dropdown-divider"></li>                                 
                                <li class="dropdown-item">
                                    <i class="icon-power mr-2"></i> Logout
                                </li>                                 
                            </ul>                             
                        </li>                         
                    </ul>                     
                </nav>                 
            </header>             
            <!--End sidebar-wrapper-->             
            <!--Start topbar header-->             
            <!--End topbar header-->             
            <div class="clearfix"></div>             
            <div class="content-wrapper"> 
                <div class="container-fluid px-0 px-sm-3"> 
                    <!--End Row-->                     
                    <div class="row"> 
                        <div class="col-lg-12 col-lg-6 px-0 px-sm-3"> 
                            <div class="card" data-pgc="jr.pagename"> 
                                <div class="card-body"> 
                                    <h5 class="card-title mb-0" data-pgc-field="title">Pricing</h5> 
                                </div>                                 
                            </div>
                            <div class="card"> 
                                <div class="card-body text-center">
                                    <h2 class="font-weight-bold mb-3">Be a Part of Something Special</h2>
                                    <p class="font-weight-light mb-0">                                Choose the plan that’s right for you. </p> 
                                </div>                                 
                            </div>
                            <section class="bg-light text-center"> 
                                <div class="container"> 
                                    <div class="align-items-center justify-content-center row"> 
                                        <div class="col-lg-4 col-md-6 py-3"> 
                                            <div class="bg-white pb-5 pl-4 pr-4 pt-5 rounded-lg shadow text-secondary"> 
                                                <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 642" class="img-fluid mb-4">
                                                    <path d="M768.519 561.516H0v8.472h768.519v-8.472zM768.519 633.528H0V642h768.519v-8.472z" fill="#3F3D56"/>
                                                    <path d="M702.224 569.31c-.459-.751-11.289-18.83-15.044-56.371-3.443-34.442-1.229-92.496 28.886-173.477 57.052-153.414-13.148-277.197-13.865-278.43l3.463-2.008c.182.312 18.296 31.872 28.997 82.126a358.214 358.214 0 01-14.842 199.707c-56.954 153.152-14.612 225.652-14.178 226.368l-3.417 2.085zM679.917 52.024c14.369 0 26.018-11.646 26.018-26.012S694.286 0 679.917 0c-14.37 0-26.019 11.646-26.019 26.012s11.649 26.012 26.019 26.012z" fill="#3F3D56"/>
                                                    <path d="M761.973 148.069c14.37 0 26.019-11.646 26.019-26.012s-11.649-26.012-26.019-26.012c-14.369 0-26.018 11.646-26.018 26.012s11.649 26.012 26.018 26.012z" fill="#3F3D56"/>
                                                    <path d="M705.934 212.099c14.37 0 26.018-11.646 26.018-26.012s-11.648-26.012-26.018-26.012c-14.369 0-26.018 11.646-26.018 26.012s11.649 26.012 26.018 26.012zM773.981 266.125c14.37 0 26.018-11.646 26.018-26.012 0-14.367-11.648-26.013-26.018-26.013-14.369 0-26.018 11.646-26.018 26.013 0 14.366 11.649 26.012 26.018 26.012z" fill="#007BFF"/>
                                                    <path d="M685.921 350.164c14.369 0 26.018-11.646 26.018-26.012s-11.649-26.012-26.018-26.012c-14.37 0-26.019 11.646-26.019 26.012s11.649 26.012 26.019 26.012zM717.942 570.267s-26.018-64.03 52.037-112.052l-52.037 112.052zM685.945 569.106s-11.842-68.091-103.49-67.507l103.49 67.507z" fill="#3F3D56"/>
                                                    <path d="M127.774 401.016c21.196 0 38.379-17.179 38.379-38.37 0-21.192-17.183-38.371-38.379-38.371-21.197 0-38.38 17.179-38.38 38.371 0 21.191 17.183 38.37 38.38 38.37z" fill="#A0616A"/>
                                                    <path d="M134.728 314.921c-7.339-1.802-15.232-2.103-22.342.458-7.324 2.637-13.352 8.15-17.786 14.546-4.433 6.396-7.411 13.675-10.079 20.986a73.394 73.394 0 00-3.598 12.297 42.096 42.096 0 007.645 32.124c-1.124-2.963 1.705-6.193 4.809-6.835 3.104-.641 6.265.444 9.326 1.266a57.613 57.613 0 0016.55 1.945c2.138-.06 4.38-.276 6.158-1.464 5.571-3.725 2.622-13.349 7.258-18.188 1.654-1.727 4.015-2.534 6.147-3.618 7.677-3.899 12.735-11.769 15.123-20.039 1.497-5.184 5.211-20.074 2.045-24.892-2.861-4.354-16.396-7.393-21.256-8.586z" fill="#2F2E41"/>
                                                    <path d="M232.21 320.337a22.838 22.838 0 00-17.483.974c-10.012 4.694-27.716 16.066-27.043 37.591.936 29.948 11.233 49.601 11.233 49.601l-1.872 60.831-9.361 110.431s-45.868 37.435-28.082 46.793c17.785 9.359 47.74-44.921 47.74-44.921l23.402-62.703 8.424-60.83s14.041-63.639 0-91.715c0 0 16.221-37.594-6.958-46.052zM344.008 416.926s-15.914 67.382 40.251 86.099 130.115 50.536 130.115 50.536l9.361 15.91 21.529-29.012-3.744-22.46-36.507-10.295s-68.334-52.408-98.288-56.151l3.744-34.627h-66.461zM493.6 362.849l19.839 32.552s65.525 37.434 82.374 62.703c16.85 25.268 57.101 52.408 57.101 52.408l-17.785 42.113s-50.549-58.959-72.078-64.574c-21.53-5.615-117.01-82.356-117.01-82.356l47.559-42.846z" fill="#A0616A"/>
                                                    <path d="M316.926 248.769c-7.307 1.148-14.619 2.297-21.838 3.906-16.773 3.74-32.901 9.936-48.645 16.822a569.574 569.574 0 00-64.072 33.005 123.778 123.778 0 00-15.884 10.783c-3.333 2.775-6.469 5.956-8.257 9.906a31.272 31.272 0 00-2.181 8.63c-1.451 10.406-1.383 21.145 1.437 31.267 2.82 10.122 8.54 19.611 16.96 25.899a27.98 27.98 0 007.34 4.068 42.756 42.756 0 0010.928 1.832c11.811.939 24.149 1.8 35.078-2.773 6.946-2.906 12.826-7.819 19.217-11.799 27.064-16.853 61.449-16.135 91.043-28.001 2.877-1.154 5.807-2.499 7.819-4.856a21.118 21.118 0 003.388-6.726l11.225-31.059c2.371-6.56 4.743-13.125 6.733-19.81 2.081-6.993 3.74-14.103 5.397-21.208 1.426-6.114 2.895-12.518 2.347-18.839-.809-9.323-2.964-9.701-11.529-8.352a45836.366 45836.366 0 01-46.506 7.305z" fill="#007BFF"/>
                                                    <path d="M204.128 320.337a22.838 22.838 0 00-17.484.974c-10.011 4.694-27.715 16.066-27.042 37.591.936 29.948 11.233 49.601 11.233 49.601l-1.872 60.831-9.361 110.431s-45.868 37.435-28.082 46.793c17.785 9.359 47.74-44.921 47.74-44.921l23.402-62.703 8.424-60.83s14.041-63.639 0-91.715c0 0 16.221-37.594-6.958-46.052z" fill="#A0616A"/>
                                                    <path d="M366.623 241.025s83.161-7.528 79.417 43.944c-3.744 51.473-31.827 140.379-31.827 140.379l-72.077 3.744s-9.361-60.831 3.744-81.42l20.743-106.647z" fill="#2F2E41"/>
                                                    <path d="M424.511 257.83s20.594 13.102 31.827 39.306c11.233 26.204 44.931 77.676 44.931 77.676l-55.228 39.306-41.187-42.114 19.657-114.174zM523.735 549.818s-17.785 6.551-5.616 19.653a118.475 118.475 0 0118.721 27.14s-3.744 24.332 12.169 23.396c15.914-.936 22.466-33.691 18.722-44.921-3.744-11.23-8.425-64.574-8.425-64.574s-32.762 2.807-31.826 7.487c.936 4.679 5.616 28.075-3.745 31.819zM635.129 531.101s-16.849 8.422-12.169 15.909 19.658 29.012 19.658 29.012-5.617 28.076 10.297 30.883c15.913 2.808 25.274-33.691 22.465-41.178-2.808-7.486-2.808-36.498-2.808-36.498s.936-29.012-8.424-29.012c-9.361 0-25.275 3.744-25.275 3.744s3.745 26.204-3.744 27.14z" fill="#2F2E41"/>
                                                    <path d="M117.01 578.24H89.863v47.367h27.147V578.24z" fill="#007BFF"/>
                                                </svg>                                                 
                                                <h3 class="font-weight-bold mb-3 text-dark text-uppercase">Basic</h3>
                                                <ul class="list-unstyled mb-4"> 
                                                    <li class="pb-1 pt-1">Unlimited Public Projects</li>
                                                    <li class="pb-1 pt-1">20 Private Projects</li>
                                                    <li class="pb-1 pt-1">Collaborate With Users</li>                                                     
                                                    <li class="pb-1 pt-1">1GB Storage</li>                                                     
                                                    <li class="pb-1 pt-1">24/7 Support</li>
                                                    <li class="pb-1 pt-1">Ads</li>                                                     
                                                </ul>                                                 
                                                <div class="align-items-center d-flex font-weight-light h5 justify-content-center mb-4 text-dark"> 
                                                    <span class="align-self-start currency">$</span> 
                                                    <span class="font-weight-bold h1 text-dark">0</span> 
                                                    <span class="align-self-end term">/mo</span> 
                                                </div>                                                 
                                                <a href="#" class="btn btn-primary pl-5 pr-5 rounded-pill text-uppercase">Sign Up</a> 
                                            </div>                                             
                                        </div>                                         
                                        <div class="col-lg-4 col-md-6 py-3"> 
                                            <div class="bg-white pb-5 pl-4 pr-4 pt-5 rounded-lg shadow text-secondary"> 
                                                <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 642" class="img-fluid mb-4">
                                                    <g clip-path="url(#clip0)">
                                                        <path d="M612.904 614.76l41.65-61.937-41.564 68.6.087 6.97c-3.041.023-6.052-.028-9.034-.152l2.066-89.589-.057-.691.077-.133.197-8.466-45.611-66.222 45.558 59.886.161 1.789 1.56-67.687-39.396-68.658 39.509 56.767-.413-140.231.001-.467.014.459 2.615 110.521 35.905-44.894-35.788 54.415.784 60.545 33.04-59.089-32.919 67.991.437 33.666 48.048-82.312-47.902 94.056.975 74.863zM753.072 616.711l41.65-61.937-41.564 68.6.086 6.97c-3.04.023-6.051-.028-9.033-.152l2.066-89.589-.057-.691.077-.133.197-8.466-45.611-66.223 45.557 59.887.162 1.789 1.56-67.687-39.396-68.658 39.509 56.767-.413-140.232.001-.466.014.459 2.615 110.521 35.905-44.894-35.788 54.415.784 60.545 33.04-59.089-32.919 67.99.437 33.667 48.048-82.312-47.902 94.056.975 74.863zM331.715 123H82.479v337.123h249.236V123z" fill="#E6E6E6"/>
                                                        <path d="M322.933 134.88H91.262v313.363h231.671V134.88z" fill="#fff"/>
                                                        <path d="M292.482 189.843H122.456a5.198 5.198 0 010-10.395h170.026a5.187 5.187 0 013.68 1.52 5.195 5.195 0 011.128 5.668 5.195 5.195 0 01-4.808 3.207zM292.482 243.301H122.456a5.198 5.198 0 010-10.395h170.026a5.187 5.187 0 013.68 1.52 5.195 5.195 0 011.128 5.668 5.195 5.195 0 01-4.808 3.207zM292.482 296.759H122.456a5.199 5.199 0 01-3.671-8.87 5.199 5.199 0 013.671-1.525h170.026a5.187 5.187 0 013.68 1.52 5.195 5.195 0 011.128 5.668 5.195 5.195 0 01-4.808 3.207zM292.482 350.217H122.456a5.199 5.199 0 01-3.671-8.87 5.199 5.199 0 013.671-1.525h170.026a5.187 5.187 0 013.68 1.52 5.195 5.195 0 011.128 5.668 5.195 5.195 0 01-4.808 3.207zM292.482 403.675H122.456a5.199 5.199 0 01-3.671-8.87 5.199 5.199 0 013.671-1.525h170.026a5.187 5.187 0 013.68 1.52 5.195 5.195 0 011.128 5.668 5.195 5.195 0 01-4.808 3.207z" fill="#E6E6E6"/>
                                                        <path d="M262.782 189.843h-141.07a5.19 5.19 0 01-3.68-1.52 5.211 5.211 0 01-1.524-3.678 5.188 5.188 0 011.524-3.677 5.193 5.193 0 013.68-1.52h141.07a5.199 5.199 0 013.671 8.87 5.203 5.203 0 01-3.671 1.525zM218.977 243.301h-97.264a5.198 5.198 0 010-10.395h97.264a5.19 5.19 0 013.679 1.52 5.198 5.198 0 01-3.679 8.875zM165.518 296.759h-43.806a5.19 5.19 0 01-3.68-1.52 5.211 5.211 0 01-1.524-3.677 5.189 5.189 0 011.524-3.678 5.209 5.209 0 013.68-1.52h43.806a5.199 5.199 0 013.671 8.87 5.199 5.199 0 01-3.671 1.525zM276.147 350.217H121.713a5.197 5.197 0 110-10.395h154.434c1.379 0 2.701.548 3.675 1.523a5.194 5.194 0 010 7.35 5.198 5.198 0 01-3.675 1.522zM241.993 403.675H121.712a5.19 5.19 0 01-3.68-1.52 5.211 5.211 0 01-1.524-3.677 5.189 5.189 0 011.524-3.678 5.209 5.209 0 013.68-1.52h120.281a5.194 5.194 0 014.807 3.207 5.19 5.19 0 01-1.128 5.668 5.194 5.194 0 01-3.679 1.52z" fill="#007BFF"/>
                                                        <path d="M796.101 628.398H0v1.793h796.101v-1.793z" fill="#3F3D56"/>
                                                        <path d="M453.623 365.871s-5.635-41.323-15.027-30.053 0 28.175 0 28.175l7.513 9.391 7.514-5.635v-1.878z" fill="#9F616A"/>
                                                        <path d="M476.163 379.019s-18.783-20.661-22.54-16.905c-3.756 3.757-15.026 5.635-13.148 13.149 1.878 7.513 41.323 31.931 41.323 31.931l-5.635-28.175z" fill="#007BFF"/>
                                                        <path opacity=".1" d="M476.163 379.019s-18.783-20.661-22.54-16.905c-3.756 3.757-15.026 5.635-13.148 13.149 1.878 7.513 41.323 31.931 41.323 31.931l-5.635-28.175z" fill="#000"/>
                                                        <path d="M583.228 377.141v15.027s1.879 33.81-9.391 31.931c-11.27-1.878-5.635-30.053-5.635-30.053l1.878-16.905h13.148zM577.593 486.084s16.905 26.297 22.54 28.175c5.634 1.878 35.688 18.783 39.444 35.688l26.297 33.81-13.148 16.905s-60.107-63.863-77.012-69.498c-16.905-5.635-33.81-33.81-33.81-33.81l35.689-11.27zM444.231 442.883s-35.688 5.635-30.053 28.175c5.635 22.539 60.106 69.498 60.106 69.498l1.879 11.27 20.661 3.756 9.392-9.391-1.879-5.635s-22.54-20.662-24.418-28.175c-1.878-7.513-22.54-37.567-31.931-39.445l13.148-7.513-16.905-22.54z" fill="#9F616A"/>
                                                        <path d="M660.238 583.757s-7.513-11.27 3.757-9.391c11.27 1.878 18.783 3.756 18.783 11.27 0 7.513-9.391 60.106-20.661 56.35-11.27-3.757-1.879-20.662-1.879-20.662s-5.635-15.027-9.391-16.905c-3.757-1.878-3.757-11.27 0-11.27 3.756 0 11.27-5.635 9.391-9.392zM500.58 542.434s0-9.392 7.514 0c7.513 9.392 11.27 16.905 3.756 22.54-7.513 5.635-33.81 18.783-33.81 18.783s-28.174 5.635-24.418-7.513c0 0 18.784-9.392 18.784-16.905 0-7.513-.001-20.662 5.634-16.905 5.635 3.757 22.54 5.635 22.54 0zM536.27 401.559s26.297 3.757 24.419 41.324c0 0 33.809 33.81 24.418 45.08-9.392 11.27-30.053 31.931-37.567 26.296-7.513-5.635-30.053-48.836-30.053-48.836s-52.593 18.783-61.985 9.391c-9.392-9.391-18.783-31.931-18.783-31.931l46.958-24.419 52.593-16.905z" fill="#2F2E41"/>
                                                        <path d="M463.015 294.494c12.448 0 22.54-10.091 22.54-22.539 0-12.449-10.092-22.54-22.54-22.54-12.449 0-22.54 10.091-22.54 22.54 0 12.448 10.091 22.539 22.54 22.539z" fill="#9F616A"/>
                                                        <path d="M479.92 273.833s13.148 20.662 16.905 22.54c3.757 1.878-26.297 20.662-26.297 20.662s0-24.419-9.391-30.054l18.783-13.148z" fill="#9F616A"/>
                                                        <path d="M481.798 294.495s30.054-9.392 35.689 5.635c5.635 15.026 18.783 43.201 16.905 61.984-1.879 18.784-5.635 15.027 0 20.662s9.391 1.878 7.513 9.392c-1.878 7.513-3.757 7.513-1.878 11.27 1.878 3.756-22.54 16.905-43.202 18.783l-20.662 1.878s0-33.81-3.756-41.323c-3.757-7.513-11.27-22.54-11.27-28.175v-14.91c0-9.923 2.59-19.675 7.513-28.291 0 0 11.27-16.905 13.148-16.905z" fill="#007BFF"/>
                                                        <path d="M504.337 302.008s69.498 5.635 77.012 24.418c7.513 18.783 11.27 56.35 3.756 56.35-7.513 0-16.905 3.757-18.783 0-1.878-3.757-9.392-41.323-11.27-41.323-1.878 0-58.228-5.635-58.228-5.635s-24.418-30.054 7.513-33.81z" fill="#007BFF"/>
                                                        <path d="M462.109 266.367s-5.982-10.395-13.459-1.366c-7.476 9.028-19.639-7.563-17.772-11.104 1.867-3.54 8.461.159 19.761-3.535 11.3-3.694 33.067-11.219 36.713 13.329 3.645 24.548-5.037 21.975-5.037 21.975s-3.98-21.753-7.577-15.504l-3.597 6.248-3.12.768-5.912-10.811z" fill="#2F2E41"/>
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0">
                                                            <path fill="#fff" d="M0 0h800v642H0z"/>
                                                        </clipPath>
                                                    </defs>
                                                </svg>                                                 
                                                <h3 class="font-weight-bold mb-3 text-dark text-uppercase">Professional</h3>
                                                <ul class="list-unstyled mb-4"> 
                                                    <li class="pb-1 pt-1">Unlimited Public Projects</li>
                                                    <li class="pb-1 pt-1">1000 Public Projects</li>
                                                    <li class="pb-1 pt-1">Collaborate With Users</li>                                                     
                                                    <li class="pb-1 pt-1">10 GB Storage</li>                                                     
                                                    <li class="pb-1 pt-1">24/7 Support</li>
                                                    <li class="pb-1 pt-1">No Ads</li>                                                     
                                                </ul>                                                 
                                                <div class="align-items-center d-flex font-weight-light h5 justify-content-center mb-4 text-dark"> 
                                                    <span class="align-self-start currency">$</span> 
                                                    <span class="font-weight-bold h1 text-dark">24</span> 
                                                    <span class="align-self-end term">/mo</span> 
                                                </div>                                                 
                                                <a href="#" class="btn btn-primary pl-5 pr-5 rounded-pill text-uppercase">Sign Up</a> 
                                            </div>                                             
                                        </div>                                         
                                        <div class="col-lg-4 col-md-6 py-3"> 
                                            <div class="bg-white pb-5 pl-4 pr-4 pt-5 rounded-lg shadow text-secondary"> 
                                                <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 642" class="img-fluid mb-4">
                                                    <g clip-path="url(#clip0)">
                                                        <path opacity=".1" d="M466.31 216.164c-47.064-1.673-91.889-16.864-134.663-33.451-42.774-16.588-85.199-35.044-131.136-43.851-29.546-5.664-63.339-6.464-87.14 9.374-22.914 15.271-30.317 41.56-34.295 65.979-2.996 18.369-4.756 37.698 3.447 54.896 5.701 11.941 15.81 21.976 22.805 33.415 24.339 39.793 7.134 88.864-19.235 127.718-12.362 18.231-26.724 35.633-36.272 55.02-9.548 19.387-13.963 41.632-5.607 61.427 8.276 19.634 28.004 34.353 49.377 44.715 43.406 21.046 94.536 27.074 144.429 30.485 110.411 7.555 221.403 4.283 332.105 1.01 40.971-1.214 82.116-2.443 122.417-8.777 22.383-3.52 45.486-9.104 61.739-22.579 20.624-17.111 25.736-46.09 11.912-67.543-23.183-35.989-87.264-44.926-103.488-83.555-8.916-21.256.24-44.941 13.206-64.655 27.808-42.294 74.414-79.403 76.865-127.755 1.687-33.204-20.718-66.459-55.362-82.174-36.309-16.471-86.668-14.398-113.443 12.865-27.619 28.04-76.102 38.839-117.661 37.436z" fill="#007BFF"/>
                                                        <path d="M124.541 642.296c29.403 0 53.238-4.584 53.238-10.239 0-5.655-23.835-10.239-53.238-10.239s-53.238 4.584-53.238 10.239c0 5.655 23.835 10.239 53.238 10.239z" fill="#007BFF"/>
                                                        <path d="M123.647 635.824c3.422 0 6.196-3.634 6.196-8.116 0-4.482-2.774-8.115-6.196-8.115-3.422 0-6.196 3.633-6.196 8.115s2.774 8.116 6.196 8.116z" fill="#3F3D56"/>
                                                        <path d="M123.647 625.905c3.422 0 6.196-3.633 6.196-8.116 0-4.482-2.774-8.115-6.196-8.115-3.422 0-6.196 3.633-6.196 8.115 0 4.483 2.774 8.116 6.196 8.116z" fill="#3F3D56"/>
                                                        <path d="M123.647 615.986c3.422 0 6.196-3.634 6.196-8.116 0-4.482-2.774-8.115-6.196-8.115-3.422 0-6.196 3.633-6.196 8.115s2.774 8.116 6.196 8.116z" fill="#3F3D56"/>
                                                        <path d="M123.647 606.074c3.422 0 6.196-3.633 6.196-8.115 0-4.483-2.774-8.116-6.196-8.116-3.422 0-6.196 3.633-6.196 8.116 0 4.482 2.774 8.115 6.196 8.115z" fill="#3F3D56"/>
                                                        <path d="M123.647 596.155c3.422 0 6.196-3.633 6.196-8.115 0-4.483-2.774-8.116-6.196-8.116-3.422 0-6.196 3.633-6.196 8.116 0 4.482 2.774 8.115 6.196 8.115z" fill="#3F3D56"/>
                                                        <path d="M123.647 586.236c3.422 0 6.196-3.634 6.196-8.116 0-4.482-2.774-8.115-6.196-8.115-3.422 0-6.196 3.633-6.196 8.115s2.774 8.116 6.196 8.116z" fill="#3F3D56"/>
                                                        <path d="M123.647 576.317c3.422 0 6.196-3.633 6.196-8.116 0-4.482-2.774-8.115-6.196-8.115-3.422 0-6.196 3.633-6.196 8.115 0 4.483 2.774 8.116 6.196 8.116z" fill="#3F3D56"/>
                                                        <path d="M146.851 500.332a29.4 29.4 0 002.313-3.396l-16.289-2.676 17.612.131a29.727 29.727 0 00.568-23.525l-23.627 12.26 21.816-15.998a29.697 29.697 0 00-19.063-14.05 29.685 29.685 0 00-35.959 24.362 29.693 29.693 0 005.98 22.914 29.955 29.955 0 00-3.39 5.417l21.148 10.981-22.543-7.563a29.678 29.678 0 004.785 27.881 29.69 29.69 0 007.58 43.525 29.69 29.69 0 0045.276-28.344 29.683 29.683 0 00-6.185-15.181 29.693 29.693 0 000-36.716l-.022-.022z" fill="#007BFF"/>
                                                        <path opacity=".1" d="M93.852 518.679a29.572 29.572 0 006.355 18.355 29.692 29.692 0 1046.672 0c3.956-5.04-53.027-21.678-53.027-18.355z" fill="#000"/>
                                                        <path d="M382.471 508.498c.45 5.818 2.69 11.839 7.402 15.272 4.713 3.432 12.21 3.367 15.81-1.244a17.675 17.675 0 002.625-5.708c3.032-9.585 5.185-20.071 1.862-29.561-7.498-.487-16.188-4.014-21.816 2.181-4.545 5.047-6.407 12.334-5.883 19.06z" fill="#3F3D56"/>
                                                        <path d="M417.275 449.864c-.996 8.458-2.691 16.879-2.516 25.394.065 3.287.414 6.545.422 9.846a48.547 48.547 0 01-6.545 24.413 8.204 8.204 0 01-1.789 2.312c-1.724 1.396-4.32 1.28-6.254.211a12.301 12.301 0 01-4.443-4.821c-5.418-9.28-5.571-20.558-7.716-31.081-1.643-8.05-4.523-15.853-5.563-23.998-.676-5.243-.575-10.588-1.651-15.765-.327-1.564-1.243-3.913-1.847-6.218-.553-2.058-.858-4.079-.291-5.468 1.156-2.844 4.945-1.738 7.41-1.564 8.682.644 17.4.622 26.078-.065.858-.066 1.832-.102 2.436.509.263.308.461.667.582 1.054a35.279 35.279 0 011.578 5.818c1.2 6.334.865 12.973.109 19.423z" fill="#FABDBD"/>
                                                        <g opacity=".1" fill="#000">
                                                            <path opacity=".1" d="M413.929 423.06a6.3 6.3 0 00-1.345 0c-4.16.334-8.327.501-12.486.523 4.61.01 9.221-.165 13.831-.523zM402.061 512.04a12.297 12.297 0 01-4.443-4.822c-5.418-9.279-5.571-20.558-7.716-31.08-1.643-8.05-4.523-15.853-5.563-23.998-.676-5.243-.574-10.588-1.651-15.765-.327-1.564-1.243-3.913-1.847-6.218-.552-2.058-.858-4.08-.291-5.469a3.102 3.102 0 012.909-1.89c-1.84-.124-3.636.094-4.363 1.89-.567 1.389-.262 3.411.291 5.469.603 2.305 1.52 4.654 1.847 6.218 1.076 5.177.974 10.522 1.651 15.765 1.04 8.152 3.919 15.955 5.563 23.998 2.145 10.522 2.298 21.816 7.715 31.08a12.307 12.307 0 004.444 4.822 6.461 6.461 0 003.81.771 6.728 6.728 0 01-2.356-.771z"/>
                                                        </g>
                                                        <path d="M444.77 494.464c-4.363 8.726-3.636 21.088-3.636 21.088.727 29.088-10.908 90.173-10.908 90.173h-10.18s-1.455-67.629 0-73.447c1.454-5.818-.728-26.179-2.909-54.54-1.622-21.089 2.792-40.2 5.163-48.584.814-2.909 1.381-4.502 1.381-4.502s16.726-24.724 26.18-13.089c2.181 2.705 3.337 8.166 3.737 15.06 1.295 22.747-5.483 61.143-8.828 67.841z" fill="#FABDBD"/>
                                                        <path opacity=".1" d="M453.599 426.623c-.4-6.894-1.542-12.363-3.738-15.06-2.109-2.589-4.581-3.375-7.141-3.033a7.75 7.75 0 014.959 3.033c2.182 2.705 3.338 8.166 3.738 15.06 1.295 22.747-5.483 61.143-8.828 67.84-4.363 8.727-3.636 21.089-3.636 21.089.727 29.088-10.908 90.173-10.908 90.173h2.182s11.635-61.085 10.908-90.173c0 0-.728-12.362 3.636-21.089 3.345-6.697 10.122-45.093 8.828-67.84z" fill="#000"/>
                                                        <path d="M414.751 603.071a9.434 9.434 0 00-2.079 2.269c-1.302 2.458.545 5.396 2.523 7.352 1.978 1.956 4.363 4.05 4.363 6.835 0 2.24-1.694 4.16-3.592 5.353-1.018.639-2.298 1.454-2.087 2.661.074.305.204.594.385.851 1.629 2.494 4.516 3.956 7.439 4.509 2.924.552 5.942.312 8.916.072.445.016.881-.134 1.222-.421.215-.29.33-.643.327-1.004.145-1.542.051-3.171.727-4.56.945-1.898 3.12-2.865 4.363-4.566 1.745-2.327 1.506-5.563.844-8.392-1.455-6.16-4.691-13.184-9.548-17.453-5.629-4.901-10.043 2.952-13.803 6.494zM436.785 236.525c4.058-6.064 3.004-14.544-1.141-20.579-4.145-6.036-10.806-9.832-17.678-12.283-9.265-3.301-19.482-4.428-29.001-1.949-7.578 1.971-14.384 6.094-21.525 9.279a92.569 92.569 0 01-40.2 8c-15.351-.429-32.171-4.364-45.05 4.028-23.576 15.337-13.09 57.078-35.393 74.175-6.014 4.61-13.584 6.625-20.274 10.181-6.69 3.556-13.032 9.744-12.872 17.321.073 3.636 1.673 7.105 3.636 10.181 8.363 13.257 23.998 21.46 39.655 21.307 15.656-.153 30.935-8.479 39.959-21.292 2.262-3.207 4.254-6.778 7.534-8.916 6.545-4.29 15.169-1.287 22.98-.647 17.387 1.418 34.782-11.635 38.243-28.761 1.454-7.308 1.2-16.042 7.083-20.63 4.749-3.702 11.432-2.909 17.453-3.542 11.01-1.142 19.7-7.999 25.677-16.958 2.742-4.109 3.062-9.017 6.8-12.253 4.028-3.556 10.26-.931 14.114-6.662z" fill="#3F3D56"/>
                                                        <g opacity=".1" fill="#000">
                                                            <path opacity=".1" d="M312.696 220.396a92.18 92.18 0 0019.031-1.454 88.862 88.862 0 01-5.214 0c-12.05-.335-25.001-2.822-36.243.174 7.417.073 15.089 1.077 22.426 1.28zM289.877 327.426c-3.28 2.138-5.272 5.708-7.534 8.915a51.086 51.086 0 01-28.702 19.787c.85.037 1.701.058 2.559.051 15.672-.153 30.935-8.479 39.96-21.292 2.262-3.207 4.254-6.778 7.534-8.916l.567-.349c-5.134-.705-10.174-.953-14.384 1.804zM434.91 215.924c-4.138-6.007-10.806-9.832-17.678-12.282-9.265-3.302-19.482-4.429-29.001-1.949-.218.051-.429.116-.64.174a55.654 55.654 0 0115.824 3.229c6.872 2.451 13.54 6.276 17.678 12.282 4.138 6.007 5.2 14.544 1.142 20.58-3.854 5.752-10.086 3.127-14.166 6.669-3.738 3.236-4.058 8.144-6.799 12.253-5.142 7.686-12.297 13.817-21.206 16.144 3.062-.364 6.291-.32 9.345-.64 11.01-1.142 19.7-7.999 25.677-16.959 2.742-4.108 3.062-9.017 6.8-12.253 4.079-3.541 10.311-.916 14.166-6.668 4.065-6.065 3.01-14.573-1.142-20.58zM375.6 273.838c-5.985.625-12.668-.16-17.453 3.541-5.883 4.589-5.6 13.323-7.083 20.631-2.553 12.777-12.922 23.314-25.234 27.234l.865.08c17.388 1.418 34.782-11.635 38.244-28.761 1.454-7.308 1.2-16.042 7.083-20.631a13.13 13.13 0 014.516-2.181c-.327.007-.626.058-.938.087z"/>
                                                        </g>
                                                        <path d="M551.304 210.492s-17.453 34.905-23.27 47.995c-5.818 13.09-58.903 32.724-66.175 33.451a9.372 9.372 0 00-5.193 2.502c-4.108 3.636-6.443 9.861-6.443 9.861s2.909 19.634-.727 52.358a93.872 93.872 0 00-.196 1.876c-3.171 31.139 3.469 38.484 3.469 38.484s-70.539 26.906-68.357-8c.683-10.988.582-19.016-.095-25.728a108.038 108.038 0 00-4.174-20.26c-1.723-6.028-3.781-12.638-5.912-21.641a95.025 95.025 0 00-4.043-13.199 15.235 15.235 0 01-.146-.385c-3.636-9.025-7.272-11.941-9.351-12.886a31.433 31.433 0 01-5.585-3.142c-6.72-4.85-21.14-15.722-33.982-28.564-17.453-17.453-34.906-58.903-34.906-58.903s-5.09-23.998 6.545-43.632c11.635-19.635 6.545 38.541 6.545 38.541s21.088 28.361 26.179 41.451c2.618 6.733 6.777 10.18 10.181 11.969a120.69 120.69 0 0116.1 10.065 93.967 93.967 0 0010.828 7.068c8.13 4.363 17.867 9.286 25.983 10.581a24.48 24.48 0 003.832.327 3.968 3.968 0 003.2-1.454c2.181-2.567 2.13-8.094 1.629-12.639a64.322 64.322 0 00-1.193-7.003s23.634-14.908 22.907 3.272a20.318 20.318 0 00.552 5.978 10.368 10.368 0 007.047 7.708c2.838.833 5.841.93 8.726.284a8.548 8.548 0 002.575-.88c2.181-1.454 23.997-7.999 30.542-8.726 6.545-.728 39.269-16.726 39.269-16.726l35.633-49.45s-.728-29.088 13.816-40.723c14.544-11.635-5.81 50.17-5.81 50.17z" fill="#FABDBD"/>
                                                        <g opacity=".1" fill="#000">
                                                            <path opacity=".1" d="M449.3 354.172a145.088 145.088 0 00-.836 17.598c.073-3.84.327-8.225.836-13.235.058-.611.124-1.243.197-1.876a285.245 285.245 0 001.818-33.735 292.104 292.104 0 01-1.818 29.372c-.044.632-.139 1.265-.197 1.876zM396.803 259.12c-.487.283-.727.458-.727.458a62.185 62.185 0 011.396 9.453 44.546 44.546 0 00-.669-9.911zM299.649 195.272c.356-5.091.887-14.217.785-22.333-.123 10.85-1.09 21.918-1.09 21.918l.305.415zM384.462 388.168c0 .284 0 .568-.051.851-2.182 34.906 68.357 7.999 68.357 7.999a11.823 11.823 0 01-1.84-3.694c-10.624 3.782-64.016 21.365-66.466-5.156zM551.303 206.129s-17.452 34.905-23.27 47.995c-5.818 13.089-58.903 32.724-66.175 33.451a9.359 9.359 0 00-5.192 2.502c-4.109 3.636-6.443 9.86-6.443 9.86s.174 1.186.385 3.44c.815-1.869 2.909-6.159 6.058-8.937a9.366 9.366 0 015.192-2.502c7.272-.727 60.357-20.361 66.175-33.451 5.818-13.09 23.27-47.995 23.27-47.995s12.297-37.342 10.945-48.512c-1.12 14.312-10.945 44.149-10.945 44.149zM384.317 358.928a108.038 108.038 0 00-4.174-20.26c-1.723-6.029-3.781-12.639-5.912-21.641a94.983 94.983 0 00-4.043-13.199 13.943 13.943 0 01-.146-.386c-3.636-9.024-7.272-11.94-9.351-12.886a31.366 31.366 0 01-5.585-3.141c-6.72-4.85-21.14-15.722-33.982-28.564-17.453-17.453-34.906-58.904-34.906-58.904a65.72 65.72 0 01-1.076-10.602 70.097 70.097 0 001.076 14.966s17.453 41.45 34.906 58.903c12.842 12.842 27.262 23.714 33.982 28.564a31.454 31.454 0 005.628 3.142c2.073.945 5.701 3.861 9.352 12.886.044.123.094.254.145.385a94.94 94.94 0 014.022 13.199c2.131 9.002 4.188 15.613 5.912 21.641a108.038 108.038 0 014.174 20.26c.306 3.04.487 6.348.538 10.072.088-4.819-.099-9.638-.56-14.435z"/>
                                                        </g>
                                                        <path d="M456.339 327.338a43.422 43.422 0 00-2.909 5.731c-1.098 3.054-1.105 6.377-1.309 9.613a77.186 77.186 0 01-2.065 13.468 14.814 14.814 0 01-.727 2.385 6.282 6.282 0 01-.851 1.455 6.223 6.223 0 01-1.352 1.229c-.781.52-1.606.97-2.466 1.345-10.122 4.727-21.161 8.901-32.207 7.272a46.892 46.892 0 01-13.403-4.509c-3.999-1.941-8.522-4.247-12.667-2.632a6.357 6.357 0 01-2.029.632 1.866 1.866 0 01-.408-.036c-1.367-.262-1.367-4.872-1.679-6.232-1.193-5.221-1.375-9.454-2.087-13.991a45.893 45.893 0 00-1.753-7.396c-2.909-8.799-3.789-18.18-3.789-27.401 0-.458-3.272 0-4.363-.043-.276 0-.429-.044-.363-.139.063-.09.136-.173.218-.247.381-.309.825-.53 1.301-.647l.859-.255c4.494-1.272 9.453-1.803 12.813-4.966 3.49-3.266 4.363-8.48 4.21-13.25-.043-1.534-.792-5.258-.669-8.348 1.267.209 2.549.319 3.833.327a3.978 3.978 0 003.199-1.454 57.455 57.455 0 013.142 7.272c1.236 3.039 2.181 6.239 3.992 8.988 2.909 4.479 8.276 7.424 13.613 6.974 5.338-.451 10.305-4.553 11.257-9.818.837-4.617-1.105-11.264-1.061-16.063 2.837.832 5.84.93 8.726.283.123.297.227.6.313.909 1.636 5.614 3.817 12.057 9.308 14.05 3.549 1.28 7.745.32 11.024 2.181a8.024 8.024 0 012.654 2.524 16.418 16.418 0 012.335 7.33 40.668 40.668 0 01-4.64 23.459z" fill="#007BFF"/>
                                                        <path opacity=".1" d="M419.506 268.828a24.788 24.788 0 01-22.267-2.247 64.278 64.278 0 00-1.192-7.003s23.634-14.908 22.907 3.272a20.318 20.318 0 00.552 5.978z" fill="#000"/>
                                                        <path d="M410.584 269.031c13.655 0 24.725-11.069 24.725-24.724 0-13.656-11.07-24.725-24.725-24.725-13.655 0-24.725 11.069-24.725 24.725 0 13.655 11.07 24.724 24.725 24.724z" fill="#FABDBD"/>
                                                        <path d="M367.324 305.755s47.995-30.542 197.071 2.182c149.076 32.724 235.613 6.544 235.613 6.544v34.179s-167.256 18.18-231.249 0c-63.994-18.18-155.09-28.666-186.993-.516l-14.442-42.389z" fill="#F86D70"/>
                                                        <path opacity=".1" d="M367.324 305.755s47.995-30.542 197.071 2.182c149.076 32.724 235.613 6.544 235.613 6.544v34.179s-167.256 18.18-231.249 0c-63.994-18.18-155.09-28.666-186.993-.516l-14.442-42.389z" fill="#000"/>
                                                        <path d="M368.777 307.209s46.541-30.542 195.617 2.182c149.076 32.724 234.159 6.545 234.159 6.545l.727 31.269s-165.802 18.18-229.795 0c-63.994-18.18-154.363-30.847-186.265-2.698l-14.443-37.298zM351.28 354.186s-47.995 30.543-197.071-2.181-141.804-6.545-141.804-6.545v-34.178s73.447-18.18 137.441 0 155.09 28.666 186.992.516l14.442 42.388z" fill="#F86D70"/>
                                                        <path opacity=".1" d="M351.28 354.186s-47.995 30.543-197.071-2.181-141.804-6.545-141.804-6.545v-34.178s73.447-18.18 137.441 0 155.09 28.666 186.992.516l14.442 42.388z" fill="#000"/>
                                                        <path d="M349.826 352.732s-46.54 30.542-195.616-2.182c-149.076-32.724-140.35-6.544-140.35-6.544l-.727-31.27s71.993-18.18 135.986 0c63.994 18.18 154.363 30.848 186.265 2.698l14.442 37.298z" fill="#F86D70"/>
                                                        <path d="M389.321 248.401c-.727-4.538-1.847-10.254 1.949-12.85a8.071 8.071 0 014.501-1.164c7.861-.08 15.373 5.396 23.082 3.796a13.006 13.006 0 009.517-17.289 13.008 13.008 0 00-4.427-5.886c-3.032-2.255-6.865-3.069-10.573-3.833-9.752-2.007-19.933-4.007-29.561-1.454-9.628 2.552-18.427 11.184-17.656 21.089.363 4.741 2.778 9.046 5.301 13.089 1.92 3.069 9.395 17.453 13.024 17.671 5.12.298 5.345-10.202 4.843-13.169z" fill="#3F3D56"/>
                                                        <path d="M450.589 384.656s-50.177 12.363-66.903 0c0 0-7.272 28.361-5.09 42.905 0 0 35.633 2.182 39.269 4.363 0 0 .727-5.817 4.363-2.909 0 0 12.362-14.544 34.905-1.454 0 0 4.364-34.178-6.544-42.905z" fill="#007BFF"/>
                                                        <path opacity=".1" d="M423.958 215.008a14.324 14.324 0 00-1.622-1.018 12.978 12.978 0 01-1.129 18.281 12.99 12.99 0 01-5.99 3.004c-7.708 1.6-15.22-3.876-23.081-3.796a8.082 8.082 0 00-4.502 1.163c-3.796 2.597-2.683 8.312-1.956 12.85.48 2.967.284 13.468-4.821 13.184h-.087c1.403 1.709 2.712 2.865 3.723 2.909 5.09.284 5.301-10.181 4.821-13.184-.727-4.538-1.84-10.254 1.956-12.85a8.074 8.074 0 014.502-1.163c7.861-.08 15.373 5.396 23.081 3.796a13.004 13.004 0 006.486-3.49 13.003 13.003 0 003.031-13.8 13.006 13.006 0 00-4.427-5.886h.015z" fill="#000"/>
                                                        <path opacity=".1" d="M62.801 180.466S8.43 157.602 1.302 198.835c0 0-3.716 6.421 1.455 11.729 0 0 1.112-2.843 6.37.102a27.335 27.335 0 005.934 2.407c2.79.77 5.756.612 8.45-.451 0 0 17.882-.967 32.92-24.361 0 0 6.443-3.985 6.77-5.476l-10.777.728s.822 7.89-3.636 12.624c0 0 3.964-12.239 2.058-12.588-.385-.073-5.694.633-5.694.633s1.375 13.715-5.817 20.812c0 0 6.675-13.955 3.767-20.565l-7.949 1.534s2.182 14.428-5.686 22.827c0 0 6.464-14.835 3.97-22.376l-7.621 2.56s1.84 14.122-4.741 21.089c0 0 5.745-17.897 3.04-20.362 0 0-6.85 2.778-8.32 4.363 0 0 1.091 10.181-3.098 13.817 0 0 2.575-12.362 1.302-12.871 0 0-7.963 5.992-10.384 11.162 0 0 3.025-7.897 9.38-12.362 0 0-5.337-.902-9.453 1.331 0 0 2.756-5.244 11.38-2.757 0 0 6.393-4.421 7.672-4.363 0 0-8.159-3.636-14.056-3.192 0 0 6.32-3.636 16.056 2.443l7.592-2.749s-10.537-5.403-15.824-5.381c0 0 7.025-2.712 17.802 4.851l7.774-1.593s-8.726-5.345-14.61-6.588c0 0 7.062-1.113 16.857 6.224l5.323-.45s-6.443-3.789-8.392-4.713c-1.949-.923-1.861-1.527-1.861-1.527a25.381 25.381 0 0112.486 6.007s11.01-.211 11.06-.887zM60.793 139.481s-19.3-44.556-46.998-24.122c0 0-5.869 1.702-5.818 7.781 0 0 2.283-1.054 3.723 3.687.539 1.684 1.27 3.3 2.182 4.814a10.908 10.908 0 005.228 4.531s11.17 9.614 33.451 4.283c0 0 6.102 1.309 7.149.604l-6.814-5.716s-4 5.156-9.366 5.41c0 0 9.33-5.017 8.392-6.312-.19-.262-3.738-2.865-3.738-2.865s-7.003 8.93-15.271 9.068c0 0 11.918-4.494 13.955-10.072l-5.593-3.636s-6.937 9.81-16.383 10.319c0 0 12.29-5.09 15.104-11.024l-5.985-2.821s-6.952 9.453-14.813 9.809c0 0 13.605-7.359 13.395-10.362 0 0-5.65-2.254-7.44-2.124 0 0-5.14 6.654-9.73 6.465 0 0 8.574-5.883 8.101-6.908 0 0-8.144-.975-12.53.727 0 0 6.298-2.967 12.618-1.992 0 0-2.655-3.586-6.356-4.582 0 0 4.625-1.549 8.334 4.843 0 0 6.312 1.011 7.046 1.767 0 0-2.763-6.828-6.545-9.904 0 0 5.818 1.454 8.145 10.595l6.072 2.698s-3.178-9.213-6.37-12.202c0 0 5.723 2.385 7.817 13.017l5.52 3.483s-2.145-8.145-4.923-12.202c0 0 4.828 3.352 6.472 13.293l3.418 2.763s-1.673-5.919-2.306-7.577c-.632-1.658-.232-1.964-.232-1.964a20.95 20.95 0 013.992 10.683s6.705 6.123 7.097 5.745z" fill="#007BFF"/>
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0">
                                                            <path fill="#fff" d="M0 0h800v642H0z"/>
                                                        </clipPath>
                                                    </defs>
                                                </svg>                                                 
                                                <h3 class="font-weight-bold mb-3 text-dark text-uppercase">Enterprise</h3>
                                                <ul class="list-unstyled mb-4"> 
                                                    <li class="pb-1 pt-1">Unlimited Public Projects</li>
                                                    <li class="pb-1 pt-1">Unlimited Private Projects</li>
                                                    <li class="pb-1 pt-1">Collaborate With Users</li>
                                                    <li class="pb-1 pt-1">100Gb Storage</li>
                                                    <li class="pb-1 pt-1">24/7 Support</li>
                                                    <li class="pb-1 pt-1">No Ads</li>                                                     
                                                </ul>                                                 
                                                <div class="align-items-center d-flex font-weight-light h5 justify-content-center mb-4 text-dark"> 
                                                    <span class="align-self-start currency">$</span> 
                                                    <span class="font-weight-bold h1 text-dark">40</span> 
                                                    <span class="align-self-end term">/mo</span> 
                                                </div>                                                 
                                                <a href="#" class="btn btn-primary pl-5 pr-5 rounded-pill text-uppercase">Sign Up</a> 
                                            </div>                                             
                                        </div>                                         
                                    </div>                                     
                                </div>                                 
                            </section>                             
                        </div>                         
                    </div>
                    <!--End Row-->                     
                    <!--End Row-->                     
                    <!--start overlay-->                     
                    <div class="overlay toggle-menu"></div>                     
                    <!--end overlay-->                     
                </div>                 
                <!-- End container-fluid-->                 
            </div>
            <!--End content-wrapper-->             
            <!--Start Back To Top Button-->             
            <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a> 
            <!--End Back To Top Button-->             
            <!--Start footer-->             
            <footer class="footer pt-5 text-white" data-pgc="fr.footer"> 
                <div class="container"> 
                    <div class="row"> 
                        <div class="col-xl-4 mr-auto py-3"> 
                            <hr/>
                            <a href="#" class="d-inline-block h2 mb-4 text-decoration-none text-uppercase text-white-50">DEDU</a> 
                            <p class="mb-3">                                Duis pharetra venenatis felis, ut tincidunt ipsum consequat nec. Fusce et porttitor libero, eu aliquam nisi. Nam finibus ullamcorper semper.</p> 
                            <div class="mb-4"> 
                                <a href="#" class="text-white">+1 234 567-890</a> 
                                <br> 
                                <a href="#" class="text-white">hello@fantico.com</a> 
                            </div>                             
                            <div class="d-inline-flex flex-wrap"> 
                                <a href="#" class="p-1 text-white"> <svg viewBox="0 0 24 24" fill="currentColor" width="20" height="20"> 
                                        <path d="M14 13.5h2.5l1-4H14v-2c0-1.03 0-2 2-2h1.5V2.14c-.326-.043-1.557-.14-2.857-.14C11.928 2 10 3.657 10 6.7v2.8H7v4h3V22h4v-8.5z"/> 
                                    </svg> </a> 
                                <a href="#" class="p-1 text-white"> <svg viewBox="0 0 24 24" fill="currentColor" width="20" height="20"> 
                                        <path d="M22.162 5.656a8.384 8.384 0 0 1-2.402.658A4.196 4.196 0 0 0 21.6 4c-.82.488-1.719.83-2.656 1.015a4.182 4.182 0 0 0-7.126 3.814 11.874 11.874 0 0 1-8.62-4.37 4.168 4.168 0 0 0-.566 2.103c0 1.45.738 2.731 1.86 3.481a4.168 4.168 0 0 1-1.894-.523v.052a4.185 4.185 0 0 0 3.355 4.101 4.21 4.21 0 0 1-1.89.072A4.185 4.185 0 0 0 7.97 16.65a8.394 8.394 0 0 1-6.191 1.732 11.83 11.83 0 0 0 6.41 1.88c7.693 0 11.9-6.373 11.9-11.9 0-.18-.005-.362-.013-.54a8.496 8.496 0 0 0 2.087-2.165z"/> 
                                    </svg> </a> 
                                <a href="#" class="p-1 text-white"> <svg viewBox="0 0 24 24" fill="currentColor" width="20" height="20"> 
                                        <path d="M12 2c2.717 0 3.056.01 4.122.06 1.065.05 1.79.217 2.428.465.66.254 1.216.598 1.772 1.153a4.908 4.908 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428.047 1.066.06 1.405.06 4.122 0 2.717-.01 3.056-.06 4.122-.05 1.065-.218 1.79-.465 2.428a4.883 4.883 0 0 1-1.153 1.772 4.915 4.915 0 0 1-1.772 1.153c-.637.247-1.363.415-2.428.465-1.066.047-1.405.06-4.122.06-2.717 0-3.056-.01-4.122-.06-1.065-.05-1.79-.218-2.428-.465a4.89 4.89 0 0 1-1.772-1.153 4.904 4.904 0 0 1-1.153-1.772c-.248-.637-.415-1.363-.465-2.428C2.013 15.056 2 14.717 2 12c0-2.717.01-3.056.06-4.122.05-1.066.217-1.79.465-2.428a4.88 4.88 0 0 1 1.153-1.772A4.897 4.897 0 0 1 5.45 2.525c.638-.248 1.362-.415 2.428-.465C8.944 2.013 9.283 2 12 2zm0 5a5 5 0 1 0 0 10 5 5 0 0 0 0-10zm6.5-.25a1.25 1.25 0 0 0-2.5 0 1.25 1.25 0 0 0 2.5 0zM12 9a3 3 0 1 1 0 6 3 3 0 0 1 0-6z"/> 
                                    </svg> </a> 
                                <a href="#" class="p-1 text-white"> <svg viewBox="0 0 24 24" fill="currentColor" width="20" height="20"> 
                                        <path d="M6.94 5a2 2 0 1 1-4-.002 2 2 0 0 1 4 .002zM7 8.48H3V21h4V8.48zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91l.04-1.68z"/> 
                                    </svg> </a> 
                                <a href="#" class="p-1 text-white"> <svg viewBox="0 0 24 24" fill="currentColor" width="20" height="20"> 
                                        <path d="M21.543 6.498C22 8.28 22 12 22 12s0 3.72-.457 5.502c-.254.985-.997 1.76-1.938 2.022C17.896 20 12 20 12 20s-5.893 0-7.605-.476c-.945-.266-1.687-1.04-1.938-2.022C2 15.72 2 12 2 12s0-3.72.457-5.502c.254-.985.997-1.76 1.938-2.022C6.107 4 12 4 12 4s5.896 0 7.605.476c.945.266 1.687 1.04 1.938 2.022zM10 15.5l6-3.5-6-3.5v7z"/> 
                                    </svg> </a> 
                            </div>                             
                        </div>                         
                        <div class="col-sm-4 col-xl-2 py-3"> 
                            <h5 class="font-weight-bold mb-4 text-uppercase text-white-50">About</h5> 
                            <ul class="list-unstyled"> 
                                <li class="mb-3"> 
                                    <a href="#" class="text-white">Get Quote</a> 
                                </li>                                 
                                <li class="mb-3"> 
                                    <a href="#" class="text-white">Enterprise Plan</a> 
                                </li>                                 
                                <li class="mb-3"> 
                                    <a href="#" class="text-white">Become an Affiliate</a> 
                                </li>                                 
                                <li class="mb-3"> 
                                    <a href="#" class="text-white">Our Portfolio</a> 
                                </li>                                 
                            </ul>                             
                        </div>                         
                        <div class="col-sm-4 col-xl-2 py-3"> 
                            <h5 class="font-weight-bold mb-4 text-uppercase text-white-50">Services</h5> 
                            <ul class="list-unstyled"> 
                                <li class="mb-3"> 
                                    <a href="#" class="text-white">Web Design</a> 
                                </li>                                 
                                <li class="mb-3"> 
                                    <a href="#" class="text-white">Web Development</a> 
                                </li>                                 
                                <li class="mb-3"> 
                                    <a href="#" class="text-white">WordPress</a> 
                                </li>                                 
                                <li class="mb-3"> 
                                    <a href="#" class="text-white">Digital Marketing</a> 
                                </li>                                 
                                <li class="mb-3"> 
                                    <a href="#" class="text-white">Content Writing</a> 
                                </li>                                 
                            </ul>                             
                        </div>                         
                        <div class="col-sm-4 col-xl-2 py-3"> 
                            <h5 class="font-weight-bold mb-4 text-uppercase text-white-50">Other</h5> 
                            <ul class="list-unstyled"> 
                                <li class="mb-3"> 
                                    <a href="#" class="text-white">Business Stories</a> 
                                </li>                                 
                                <li class="mb-3"> 
                                    <a href="#" class="text-white">Learning</a> 
                                </li>                                 
                                <li class="mb-3"> 
                                    <a href="#" class="text-white">Licence</a> 
                                </li>                                 
                                <li class="mb-3"> 
                                    <a href="#" class="text-white">Refund Policy</a> 
                                </li>                                 
                                <li class="mb-3"> 
                                    <a href="#" class="text-white">Terms of Service</a> 
                                </li>                                 
                            </ul>                             
                        </div>                         
                    </div>                     
                    <div class="pb-3 pt-3 text-center"> 
                        <hr class="border-secondary mt-0"> 
                        <p class="mb-0">Copyright &copy; 2013-2021, Dedu</p> 
                    </div>                     
                </div>                 
            </footer>             
            <!--End footer-->             
            <!--start color switcher-->             
            <div class="right-sidebar" data-pgc="jr.rightnavbar"> 
                <div class="switcher-icon"> 
                    <i class="zmdi zmdi-hc-spin zmdi-settings"></i> 
                </div>                 
                <div class="right-sidebar-content"> 
                    <p class="mb-0">Gaussion Texture</p> 
                    <hr> 
                    <ul class="switcher"> 
                        <li id="theme1"></li>                         
                        <li id="theme2"></li>                         
                        <li id="theme3"></li>                         
                        <li id="theme4"></li>                         
                        <li id="theme5"></li>                         
                        <li id="theme6"></li>                         
                    </ul>                     
                    <p class="mb-0">Gradient Background</p> 
                    <hr> 
                    <ul class="switcher"> 
                        <li id="theme7"></li>                         
                        <li id="theme8"></li>                         
                        <li id="theme9"></li>                         
                        <li id="theme10"></li>                         
                        <li id="theme11"></li>                         
                        <li id="theme12"></li>                         
                        <li id="theme13"></li>                         
                        <li id="theme14"></li>                         
                        <li id="theme15"></li>                         
                    </ul>                     
                </div>                 
            </div>             
            <!--end color switcher-->             
        </div>
        <!--End wrapper-->         
        <!-- Bootstrap core JavaScript-->         
        <script src="assets/js/jquery.min.js"></script>         
        <script src="assets/js/popper.min.js"></script>         
        <script src="assets/js/bootstrap.min.js"></script>         
        <!-- simplebar js -->         
        <script src="assets/plugins/simplebar/js/simplebar.js"></script>         
        <!-- sidebar-menu js -->         
        <script src="assets/js/sidebar-menu.js"></script>         
        <!-- Custom scripts -->         
        <script src="assets/js/app-script.js"></script>         
    </body>     
</html>
