<div class="mt-3">
  <div class="px-3 sm:px-0">
    <div class="bg-white shadow-md rounded overflow-hidden" data-pgc="jr.pagename">
      <div class="p-4">
        <h5 class="text-xl font-bold mb-0" data-pgc-field="title">Editing Record Type</h5>
      </div>
    </div>
    <%= render 'form', record_type: @record_type %>
  </div>
</div>
