<div class="flex flex-wrap mt-3">
  <div class="w-full px-3 lg:px-0">
    <div class="bg-white shadow-md rounded overflow-hidden" data-pgc="jr.pagename">
      <div class="p-4">
        <h5 class="text-xl font-bold mb-0" data-pgc-field="title">Record Types</h5>
      </div>
    </div>

    <% @record_types.each do |record_type| %>
      <%= render "record_types/record_type", record_type: record_type %>
    <% end %>

    <%= paginate @record_types %>
  </div>
</div>
