<div class="card" data-pgc-define="jr.sensor" data-pgc-define-name="Sensor" data-pgc-section="Page components">
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-lg-12">
            <h5><%= sensor.name %></h5>
          </div>
          <div class="col-lg-12">
            <p><%= sensor.description %></p>
          </div>
          <div class="col-lg-12">
            <%= render "shared/created_by", user: sensor.user %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 d-flex">
            <strong><p>Submits to Record</p></strong>
            <p class="ml-1">123. Some kind of a record</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <strong><p>API Key</p></strong>
          </div>
          <div class="col-md-6">
            <p>kjn34kjn43kjnkk43nknt536536</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <strong><p>API Secret</p></strong>
          </div>
          <div class="col-md-6">
            <p>show</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-light btn-block">
          <i class="fa fa-edit"></i>&nbsp;Edit
        </button>
        <button type="button" class="btn btn-light btn-block">
          <i class="fa fa-close"></i>&nbsp;Delete
        </button>
      </div>
    </div>
  </div>
</div>
