@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

/* Custom button style */
.custom-button-style {
  background-color: #007bff; /* Change this to your desired background color */
  color: #fff; /* Change this to your desired text color */
  border: none;
  border-radius: 4px; /* Adjust the border-radius for rounded corners */
  padding: 10px 20px; /* Adjust the padding for button size */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px; /* Adjust the font size */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button-style:hover {
  background-color: #0056b3; /* Change this to the hover background color */
}
