<h1 class="text-2xl font-semibold mb-4">Editing Dot</h1>

<%= render 'form', dot: @dot %>

<div class="mt-4">
  <%= link_to 'Show', @dot, class: "btn btn-primary" %> |
  <%= link_to 'Back', dots_path, class: "btn btn-secondary" %>
</div>
