<div class="card" data-pgc-define="jr.connectiontype" data-pgc-define-name="Connection Type" data-pgc-section="Page components">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <h5><%= connection_type.name %></h5>
        <p><%= connection_type.description %></p>
        <%= render "shared/created_by", user: connection_type.user %>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-lg-12">
            <span class="badge badge-primary">Directional</span>
          </div>
          <div class="col-lg-12">
            <span class="badge badge-primary">Destructive</span>
          </div>
          <div class="col-lg-12">
            <span class="badge badge-primary">Type of targets: Any</span>
          </div>
          <div class="col-lg-12">
            <span class="badge badge-primary">Hierarchy of targets: Only Siblings</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-light btn-block">
          <i class="fa fa-edit"></i>&nbsp;Edit
        </button>
        <button type="button" class="btn btn-light btn-block">
          <i class="fa fa-close"></i>&nbsp;Delete
        </button>
      </div>
    </div>
  </div>
</div>
