<% if connection_type.destructive? %>
  <div class="col-lg-12">
    <span class="badge badge-primary">Destructive</span>
  </div>
<% else %>
  <div class="col-lg-12">
    <span class="badge badge-primary">Non-Destructive</span>
  </div>
<% end %>
