<div class="flex flex-wrap">
  <div class="w-full px-3">
    <div class="bg-white shadow-md rounded overflow-hidden" data-pgc="jr.pagename">
      <div class="p-4">
        <h5 class="text-xl font-bold mb-0" data-pgc-field="title">Types of Connections Between Repetitive Records</h5>
      </div>
    </div>

    <% @connection_types.each do |connection_type| %>
      <%= render "connection_types/connection_type", connection_type: connection_type %>
    <% end %>

    <%= paginate @connection_types %>
  </div>
</div>
